---
import Layout from '../layouts/Layout.astro';
import MakicraftController from '../components/MakicraftController.astro';
---

<Layout title="Makicraft Controller">
  <main>
    <h1>Makicraft Controller ver1.0</h1>

    <MakicraftController />

  </main>
</Layout>
